.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.chart-parent-container {
  position: relative;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chart-view{
  display: inherit
}

.control-container{
  display: flex;
  flex-direction: column; /* Элементы будут располагаться друг под другом */
  align-items: center; /* Центрирование по горизонтали */
}



.login-form label,
.login-form input,
.login-form div{
  display: block;
  text-align: center;
}

#login-btn{
  margin-top: 10%;
}

#login-field{
  color: white;
}


#password-field{
  color: white;
}

.menu {
  width: 30vw;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -30vw;
  transition: left 0.3s ease;
  
}

.menu.open {
  left: 0;
}
.control-item{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}



.selected{
  background-color: #282c34;
}

.scrollable_col {
  overflow-y: scroll;
  height: 80vh;
  marker: none;

}
.point-card {
  border:  3px solid white;
  border-radius: 10px;
  padding: 1%;
  margin: 4%;
}

.search_container input{
  width: 90%;
  height: 3vh;
}
.search_container{
  margin: 5%;
}


.menu-btn-container {
  position: fixed;
  bottom: 10px; /* расстояние от нижнего края экрана */
  left: 10px; /* расстояние от левого края экрана */
}
.menu-btn{
  width: 100%;

}